body{
    line-height: 2em;
}

h2{
    
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 0.6em;
}
h2:hover{
    color: lightseagreen;
}
a{
    color: black;
    
}


.format{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}
p{
    color: rgb(100, 97, 97);
    font-size: 1em;
    
}
#hrr{
    width: 9em;
}
.row>.col-md-4{
    text-align: center;
}
.icon>a{
    
    width: 35px;
    height: 35px;
}
.icon{
    margin-top: 60px;
    margin-bottom: 30px;
}
.row>.col-md-12{
    color: #2E2E2E;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    text-align: center;
}
nav>.container>.navbar-toggler>.menu-icon>.navbar-toggler-icon{
    border: black solid;
    background-color: black;
    height: 0.45em;

}
.gp{
    padding-right: 1em;
}