@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    
}
a{
    color: black;
}

nav{
    margin-top: 20px;
    color: black;
    opacity:0.9;
}


.grey{
    text-transform: none;
    background-color: #2e2d2d;
}
.orange{
    background-color: #f87722;
} 
.white{
    
    padding: 60px;
}

.white>p{
    color: rgb(46, 45, 45);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}
.pd{
    padding: 0px;
    margin: 0px;
}
p{
    color:rgb(94, 91, 91);
    font-size: 17px;
    text-align: left;
    padding-left: 50px;
    font-weight: 600;
    
}
h2{
    margin-top: 20px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.h2title{
    margin-top: 20px;
    font-weight: bolder;
    text-align: left;
}
h3{
    padding: 0px;
    margin: 30px 0px 30px 20px;

    font-weight: 600;
}
.col-md-4>p{
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 30px;
    padding-left: 10px;
    color: rgb(107, 105, 105);
}
#hr{
    width: 50px;
    border-color: white;
    margin-bottom: 20px;    
}
.col-md-4>a{
    color: white;
    font-size: 18px;
    background-color: rgb(216, 54, 54);
    width: inherit;
    
}
.whiteletter{
    color: white;
    text-align: center;
}

.w{
    margin-top: 100px;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1520302829139-fa0d91dc51aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjN8fGRhcmslMjBncmVlbiUyMGxlYXZlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.half1{
    background: rgb(29, 29, 48);
    -webkit-clip-path: polygon(0 0, 0 500px, 500px 100px, 0 0);
    clip-path: polygon(0 0, 0 500px, 500px 100px, 0 0);
    

}
.half2{
    margin-top: 150px;
    background: rgb(29, 29, 48);
    -webkit-clip-path: polygon(200px 0, 0 500px, 0 20px, 130px 0);
    clip-path: polygon(200px 0, 0 500px, 0 20px, 130px 0);
    

}
.crop{
    margin-top: 30px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%,100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%,100% 90%, 50% 100%, 0% 90%);

}
.dropdown1{
    position: relative;
    width: 300px;
}
.col-md-1{
    margin-top: 150px;
    padding: 0px;
}
#memail{
    margin: 50px 5% 50px 90px;
    border-radius: 5px 5px;
    width: 60%;
    height: 45px;
}
.searchme{
    width: 94%;
    height: 55px;
    border: none;
    background-color: rgb(218, 216, 216);
}
.btn-grey{
    background-color: rgb(95, 91, 91);
    height: 55px;
    width: 55px;
}
.full{
    width: 100%;
}
.music{
    width: 400px;
    height: 300px;
    align-content: center;
    
} 
.brands{
    font-size: 30px;
}
.form-group{
    text-transform: uppercase;
    
}
.form-control{
    opacity: 0.5;
}
.form-control-lg{
    opacity: 0.7;
    text-transform: uppercase;
    
}
form{
    
    color: rgb(4, 27, 4);
}
.blue{
    background-color: rgb(29, 29, 48);
}

.col-md-6>p>a{
    color: white;
}
.col-md-6>.pp{
    margin-top: 40px;
}
.icon>a{
    
    width: 35px;
    height: 35px;
}
.icon{
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}
.row>.col-md-12>p{
    color: #2E2E2E;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    
    text-align: center;
}
#hrr{
    color: #2E2E2E;
    width: 9em;
}
.align{
    text-align: center;
    margin-top: 1em;

}
.fa-bars{
    color: black;
}
nav>.container>.navbar-toggler>.menu-icon>.navbar-toggler-icon{
    border: black solid;
    background-color: black;
    height: 0.45em;

}
.gp{
    padding-right: 1.4em;
    
}
.cent{
    text-align: center;
    margin-top: 100px;
  

}
.cent>p{
    color: white;
}
.gap{
     padding-top: 70px;
}
.imgs{
    width: 100%;
    
}
.gaps{
    padding-top: 30px;
}
.right{
    padding-right: 0px;
    margin-right: 0px;
}
.left{
    margin-left: 0px;
    padding-left: 0px;
}
div>ul>li:hover{
    background-color: black;
}
div>ul>li>a:hover{
    color: white;
}